Output/Debug/ConsoleTest.exe.config
Output/Debug/*.*
Output/Debug/*
Output/Debug/ConsoleTest.exe.configuration
Output/Debug/delbydate.exe.config
Output/Debug/ErlangNode.exe.config
Output/Debug/getdatetime.exe.config
Output/Debug/general.rschema
Output/Debug/ErlangNode.laconf
Output/Debug/glue-client-test.configuration
Output/Debug/glue-server-test.configuration
Output/Debug/gluec.exe.config
Output/Debug/inventory.exe.config
Output/Debug/LICENSE.txt
Output/Debug/licupd.exe.config
Output/Debug/MongoDB.Bson.xml
Output/Debug/MongoDB.Driver.xml
Output/Debug/MongoDBDriver/MongoDB-Licensing.pdf
Output/Debug/MongoDBDriver/MongoDB.Bson.xml
Output/Debug/MongoDBDriver/MongoDB.Driver.XML
Source/NFX.Wave/obj/Debug/NFX.Wave.csproj.FileListAbsolute.txt
Source/NFX.Wave/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/NFX.Wave/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Source/NFX.Wave/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Source/NFX.Wave/obj/*.*
Source/NFX.Wave/obj/*
Output/Debug/MySQLDriver/MySQLFOSS-License-Exception.pdf
Output/Debug/NFX.MongoDB.XML
Output/Debug/NFX.MsSQL.XML
Output/Debug/NFX.NUnit.dll.config
Output/Debug/NFX.MySQL.XML
Output/Debug/NFX.Wave.XML
Output/Debug/NFX.Web.XML
Source/NFX.Web/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/NFX.Web/obj/*
Source/NFX.Web/obj/*.*
Source/NFX.WinForms/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Source/NFX.WinForms/obj/*.*
Source/NFX.WinForms/obj/*
Source/NFX.Wave/Templatization/StockContent/Embedded/script/signal.htm.auto.cs
Source/NFX.Wave/Templatization/*
Source/NFX.Wave/Templatization/*.*
Source/NFX.WinForms/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/NFX/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/NFX/obj/*
Source/NFX/obj/*.*
Source/Providers/NFX.MongoDB/obj/Debug/NFX.MongoDB.csproj.FileListAbsolute.txt
Source/Providers/NFX.MongoDB/obj/*
Source/Providers/NFX.MongoDB/obj/*.*
Source/Providers/NFX.MongoDB/obj/
Source/Providers/NFX.MsSQL/obj/Debug/NFX.MsSQL.csproj.FileListAbsolute.txt
Source/Providers/NFX.MsSQL/obj/
Source/Providers/NFX.MySQL/obj/
Source/Testing/BusinessLogic/obj/Debug/BusinessLogic.csproj.FileListAbsolute.txt
Source/Testing/BusinessLogic/obj/
Source/Testing/Manual/ConsoleTest/obj/Debug/ConsoleTest.csproj.FileListAbsolute.txt
Source/Testing/Manual/ConsoleTest/obj/
Source/Testing/Manual/ErlangNode/obj/Debug/ErlangNode.csproj.FileListAbsolute.txt
Source/Testing/Manual/ErlangNode/obj/
Source/Testing/Manual/WinFormsTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/Testing/Manual/WinFormsTest/obj/Debug/WinFormsTest.ConsoleUtils.ConsoleUtilsFrm.resources
Source/Testing/Manual/WaveTestSite/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/Testing/Manual/WinFormsTest/obj/Debug/WinFormsTest.GridForm.resources
Source/Testing/Manual/WinFormsTest/obj/
Source/Testing/Manual/WinFormsTest/obj/
Source/Testing/Manual/WaveTestSite/obj/
Source/Testing/Manual/WinFormsTest/obj/
Source/Testing/NUnit/NFX.NUnit/obj/
Source/Tools/licupd/obj/
Source/Testing/NUnit/NFX.NUnit/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Source/Tools/licupd/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/Tools/TelemetryViewer/obj/Debug/TelemetryViewer.ChartForm.resources
Source/Tools/TelemetryViewer/obj/
Source/Testing/NUnit/NFX.NUnit.Integration/obj/
Source/Testing/TestServer/obj/
Source/Tools/delbydate/obj/
Source/Tools/getdatetime/obj/
Source/Tools/inventory/obj/
Source/Tools/ntc/obj/
Source/Tools/phash/obj/
Source/Testing/NUnit/NFX.NUnit.Integration/obj/Debug/NFX.NUnit.Integration.csproj.FileListAbsolute.txt
Source/Testing/TestServer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/Tools/delbydate/obj/Debug/delbydate.csproj.FileListAbsolute.txt
Source/Tools/getdatetime/obj/Debug/getdatetime.csproj.FileListAbsolute.txt
Source/Tools/inventory/obj/Debug/inventory.csproj.FileListAbsolute.txt
Source/Tools/ntc/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/Tools/phash/obj/Debug/phash.csproj.FileListAbsolute.txt
Source/Tools/gluec/obj/Debug/gluec.csproj.FileListAbsolute.txt
Source/Tools/rsc/obj/Debug/rsc.csproj.FileListAbsolute.txt
Source/Tools/rsc/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/Tools/phash/obj/
Source/Tools/gluec/obj/
Source/Tools/rsc/obj/
Source/Testing/Manual/WaveTestSite/Pages/AboutUs.htm.auto.cs
Source/Testing/Manual/WaveTestSite/Pages/*.auto.cs